	.has_header {
		margin-top: 53px;
	}
	
	.weui-wheader {
		bottom: inherit;
		top: 0;
		height: 53px;
		line-height: 53px;
		text-align: center;
		max-width: 568px;
	}
	
	.weui-wheader p {
		width: 100%;
	}
	
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	
	.swiper-img {
		width: 100%;
	}
	
	.weui-tabbar {
		position: fixed;
	}