.dk-datagrid-content{width:100%; overflow:auto;}
.dk-datagrid{width:auto; min-width:100%;}
/*.dk-datagrid th:not(.row-first):not(.row-controller){min-width:150px;}*/
.dk-datagrid tbody tr:nth-child(even){background-color:#f9f9f9;}
.dk-datagrid .row-first{width:50px; text-align:center; min-width:50px;}
.dk-datagrid .row-mutiple{font-size:16px; padding:0; text-align:center;}
.dk-datagrid .row-controller{width:80px; text-align:center; min-width:80px;}
.dk-datagrid .row-controller i.fa{cursor:pointer; padding:0 7px; background-color:#18a689; color:#fff; padding:5px; border-radius:4px;}
.dk-datagrid .row-controller i.fa.fa-times{background-color:red;}
.dk-datagrid .row-controller>div.delline{position: absolute; top: 48%; z-index: 100; left: 0; height: 2px; background-color: red;}

.dk-datagrid>thead>tr>th{border:1px solid #e7e7e7; background-color: #F5F5F6;}
.dk-datagrid>thead>tr>th:not(.row-mutiple)>i{color:#18a689; margin-right:5px;}
.dk-datagrid>thead>tr>th>i.required{color:red;}

.dk-datagrid tbody tr.row-selected{background-color:#428bca;color:#fff;}
.dk-datagrid tbody tr:not(.row-selected):not(.disabled):hover{background:#dcd9d9;}

.dk-datagrid>tbody>tr.disabled{background-color: #eeeeee; color: #aaa;}
.dk-datagrid>tbody>tr>td{position:relative; padding-left:0; padding-right:0;}
.dk-datagrid>tbody>tr>td:not(.row-controller){overflow:hidden;}
.dk-datagrid>tbody>tr>td>lable.valid-false{position:absolute; top:0; right:0; bottom:0; left:0; background-color:#ff0000; opacity:0.5; border-radius:4px; line-height:34px; color:#fff; padding:0 5px; z-index:100; border-radius:0;}
.dk-datagrid>tbody>tr>td>div.column-value{white-space:nowrap; overflow:hidden;text-overflow:ellipsis; padding:0 5px; width:130px;}
.dk-datagrid>tbody>tr>td>div.column-controller{width:80px;}
.dk-datagrid>tbody>tr>td>div.column-controller>i{margin-right:10px;}
.dk-datagrid>tbody>tr>td>div.column-controller>i:last-child{margin:0;}
.dk-datagrid>tbody>tr>td>div.column-mutiple{width:50px;}
.dk-datagrid>tbody>tr>td>div.column-rowno{width:50px;}

.dk-datagrid>tbody>tr>td:not(.CheckBox)>div.dk-form-element{position:absolute; top:0;  bottom:0; left:0; border: solid 1px green; padding:0; width:100%; border-radius:0; box-shadow:none;}
.dk-datagrid>tbody>tr>td:not(.CheckBox)>div.dk-form-element>.form-control{border:none; border-radius:0; box-shadow:none; padding:0 4px; height:100%; font-size:13px; color:#000;}
.dk-datagrid>tbody>tr>td:not(.CheckBox)>div.dk-form-element>div.input-group{height:100%;}
.dk-datagrid>tbody>tr>td:not(.CheckBox)>div.dk-form-element>div.input-group>.input-group-addon{border-left:solid 1px #ccc; color:#000;}
.dk-datagrid>tbody>tr>td:not(.CheckBox)>div.dk-form-element>div.input-group>.form-control{box-shadow:none;border:none; padding:0 4px; font-size:13px;border-radius:0; height:100%; color:#000;}

.dk-datagrid>tbody>tr>td.CheckBox>div.column-value{border:none; text-align:center;}
.dk-datagrid>tbody>tr>td.CheckBox>div.dk-form-element{text-align:center;position:absolute; top:0;  bottom:0; left:0; width:100%; background-color:#fff;border: solid 1px green; }
.dk-datagrid>tbody>tr>td.CheckBox>div.dk-form-element>input[type=checkbox]{padding:0; outline:none; margin:0; width:20px; height:100%;}