.login-box{
	width: 428px;
	height: 298px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -80%);
	background: #FFFFFF;
    border-radius: 5px;
    box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32);
    padding: 15px;
	border-top: solid 1px #efefef;
	border-right: solid 1px #efefef;
    .copyright{
    	font-size: 11px;
	    margin: 0 auto;
	    padding: 10px 10px 0;
	    text-align: center;
	    position: absolute;
	    bottom: -32px;
	    left: 50%;
	    transform: translate(-50%, 0);
	    color: #7F7F7F;
    }
}