@import '../../assets/common/global.scss';
.dk-container{
	width: 100%; 
	height: 100%;
	position: relative;
}



.dk-body{position: fixed; top: 42px; left: 0; right: 0; bottom: 32px;}



.dk-content{
	position: absolute; top: 0; bottom: 0; left: 229px; right:  0; overflow: auto;
	.dk-toolbar{
		width: 100%;
		height: 50px;
		padding: 10px 20px;
		border-bottom: solid 1px #ccc;
	}
	.dk-viewer{
		width: 100%;
		position: absolute;
		top: 50px;
		bottom: 0px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.dk-footer{position: fixed; border-top: solid 1px #ccc; bottom: 0;  height: 32px; width: 100%; text-align: center; line-height: 32px;}